<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.yatrik.app.todopro" >

    <!--<uses-sdk-->
        <!--android:minSdkVersion="14"-->
        <!--android:targetSdkVersion="19" />-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_todo_icon"
        android:label="TodoPro"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.github.yatrik.app.todopro.app.TodoActivity"
            android:label="TodoPro" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
